.navbar { 
  font-family: 'Delius Swash Caps', cursive;
  font-size: 2.5rem;
  background-color:rgb(77, 77, 77);
  opacity: 0.9  ;
  font-weight: 600px;
}

.lead { 
  font-family: 'Delius', cursive;
  font-size: 1.5rem;
}

.about { 
  font-family: 'Merienda One', cursive;
}



body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3,.pimg4 {
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  opacity:1;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:80%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:500px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}
.pimg3{
  background-image:url('../img/image4.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:60px 80px;
}

.footer1{
  padding:60px 20px;
}


.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

a {
  color: black;
  text-decoration: none;
}

a:hover 
{
   color : grey; 
   text-decoration:none; 
   cursor:pointer;  
}



.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.aboutme { 
  width: 100%;
  margin:0;
  padding:0;
  font-family:Poppins;
  color: #111;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  
}

#myImg:hover {
  opacity: 0.7;
  transform: scale(1.3);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
